h1 {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(94, 119, 119);
    }
p {
    font-style: oblique;
    color: rgb(119, 81, 32);
    visibility: visible;
}   
a {
    color: black;
    
}
    